img {
  width: 800px;
}
.img-small {
  max-width: 500px;
}
figure{
  /* margin: 2rem !important; */
  display: flex; flex-direction: column;
  align-items: center;
}
.tg  {
  border-spacing:0; margin: 0 auto;
  margin: 2rem auto;
}
.tg .tg-nrix{
  text-align:center;
  vertical-align:middle
}
.fixed-header thead {
  position: sticky;
  top: 0;
  z-index: 1; /* Keep it on top of other rows */
}
.scrollable {
  border: 2px solid var(--accent);
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 500px;
} */
